In [15]:
import pandas

In [8]:
sal=2660  #integer datatype



#print(sal+(sal*.1))
sal==2669

#boolean

file=read

False

In [10]:

num1=88
num2=99

result=num1+num2+sal


print(result)

2847

In [13]:
salary = 2
print(salary ** 5)

32